{% extends 'base.html.twig' %}

{% block title %}SC Diet & Nutri - About{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="display-3">A propos...</h1>
    <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Nunc pulvinar sapien et ligula. Faucibus et molestie ac feugiat sed. At
        ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Hendrerit dolor magna eget est
        lorem ipsum. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Enim ut tellus
        elementum sagittis vitae. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Ultrices
        dui sapien eget mi proin sed libero enim. Dictum non consectetur a erat nam at lectus urna duis.
    </p>
    <p class="mt-3">
        Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Adipiscing vitae proin sagittis nisl
        rhoncus mattis rhoncus urna neque. Odio facilisis mauris sit amet massa. At elementum eu facilisis
        sed odio morbi quis commodo odio. Egestas dui id ornare arcu odio ut sem nulla pharetra. Aliquet
        enim tortor at auctor urna nunc. Ultricies mi quis hendrerit dolor magna eget. In nulla posuere
        sollicitudin aliquam ultrices sagittis. Eu sem integer vitae justo eget magna. Ut morbi tincidunt
        augue interdum velit euismod. Blandit aliquam etiam erat velit scelerisque. Arcu non odio euismod
        lacinia at quis risus sed vulputate. Tincidunt id aliquet risus feugiat in ante metus dictum. Aliquam
        purus sit amet luctus venenatis lectus magna fringilla. Eget arcu dictum varius duis. Mattis molestie
        a iaculis at erat pellentesque adipiscing commodo. Fames ac turpis egestas integer eget.
        Elementum sagittis vitae et leo duis
    </p>
    <p class="mt-3">
        Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Integer malesuada nunc vel risus commodo
        viverra maecenas accumsan lacus. Praesent tristique magna sit amet purus gravida quis blandit turpis.
        Consectetur adipiscing elit ut aliquam purus sit amet luctus. Quis viverra nibh cras pulvinar mattis nunc sed
        blandit libero. Iaculis urna id volutpat lacus. Et odio pellentesque diam volutpat commodo sed egestas. At urna
        condimentum mattis pellentesque id nibh tortor. In nisl nisi scelerisque eu ultrices vitae. Turpis cursus in hac
        habitasse platea dictumst quisque. Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Tellus orci ac
        auctor augue mauris augue neque. Nullam ac tortor vitae purus. Tincidunt id aliquet risus feugiat in ante. Et
        molestie ac feugiat sed. Nisl vel pretium lectus quam id leo in vitae. Lectus arcu bibendum at varius vel
        pharetra vel. Eu sem integer vitae justo eget magna fermentum. Id aliquet lectus proin nibh nisl condimentum id
        venenatis a.
    </p>
</div>
{% endblock %}