{% extends 'base.html.twig' %}

{% block title %}SC Diet & Nutri - Accueil{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="display-3">Sandrine Coupart <br> Diététicienne & Nutritionniste</h1>
    <p class="mt-3">
        Je suis Sandrine Coupart, une diététicienne nutritionniste qualifiée avec 10 années d'expérience. Ma passion
        pour la nutrition et la santé m'a poussée à aider mes patients à vivre une
        vie plus saine et plus équilibrée. J'ai travaillé avec des centaines de clients pour les aider à atteindre leurs
        objectifs, que ce soit en perdant du poids, en gérant des conditions médicales ou en améliorant leur
        alimentation.
    </p>
    <p class="mt-3">
        En tant que diététicienne nutritionniste professionnelle, je suis dédiée à vous aider à atteindre vos objectifs
        de santé, de bien-être et de nutrition. Que vous cherchiez à perdre du poids, à gérer une condition médicale
        spécifique ou à adopter une alimentation plus saine, je suis là pour vous guider.
    </p>
    <h3 class="mt-3">A propos</h3>
    <h5 class="mt-3">Ma mission</h5>
    <p class="mt-3">
        Ma mission est de vous guider vers une meilleure santé grâce à une alimentation équilibrée et adaptée à vos
        besoins
        spécifiques. Je crois que la nutrition est la clé pour vivre une vie épanouie et énergique.
    </p>
    <h5 class="mt-3">Mon approche</h5>
    <p class="mt-3">
        Je crois en une approche holistique de la nutrition. Chaque individu est unique, c'est pourquoi je m'engage
        à personnaliser mes recommandations pour répondre à vos besoins spécifiques, tout en tenant compte de vos
        préférences alimentaires et de votre style de vie.
    </p>
    <h3 class="mt-3">Mes services</h3>
    <p class="mt-3">
        J'offre une gamme complète de services de diététique et de nutrition, y compris : <br>
        Évaluation nutritionnelle complète, <br>
        Élaboration de plans alimentaires personnalisés, <br>
        Suivi régulier pour assurer votre progression, <br>
        Éducation nutritionnelle pour vous permettre de prendre des décisions éclairées.
    </p>
    <h3 class="mt-3">Votre bien-etre au Cœur de mon travail</h3>
    <p class="mt-3">
        Votre santé et votre bien-être sont ma priorité. Je suis là pour vous accompagner à chaque étape de votre
        voyage vers une meilleure nutrition et une meilleure santé.
    </p>
    <p class="mt-3">
        Pour toute question ou pour planifier une consultation, n'hésitez pas à me contacter. Je suis impatiente
        de vous aider à atteindre vos objectifs de santé et de bien-être.
    </p>
    <p class="mt-3">
        Vous trouverez sur ce site des recettes de cuisine afin de mieux vous alimenter, sans négliger ni le goût ni la
        quantité.
    </p>
</div>
{% endblock %}