{% extends 'base.html.twig' %}

{% block title %}SC Diet & Nutri - Home{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="display-3">Sandrine Coupart <br> Diététicienne & Nutritionniste</h1>
    <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Nunc pulvinar sapien et ligula. Faucibus et molestie ac feugiat sed. At
        ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Hendrerit dolor magna eget est
        lorem ipsum. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Enim ut tellus
        elementum sagittis vitae. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Ultrices
        dui sapien eget mi proin sed libero enim. Dictum non consectetur a erat nam at lectus urna duis.
    </p>
    <p class="mt-3">
        Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Adipiscing vitae proin sagittis nisl
        rhoncus mattis rhoncus urna neque. Odio facilisis mauris sit amet massa. At elementum eu facilisis
        sed odio morbi quis commodo odio. Egestas dui id ornare arcu odio ut sem nulla pharetra. Aliquet
        enim tortor at auctor urna nunc. Ultricies mi quis hendrerit dolor magna eget. In nulla posuere
        sollicitudin aliquam ultrices sagittis. Eu sem integer vitae justo eget magna. Ut morbi tincidunt
        augue interdum velit euismod. Blandit aliquam etiam erat velit scelerisque. Arcu non odio euismod
        lacinia at quis risus sed vulputate. Tincidunt id aliquet risus feugiat in ante metus dictum. Aliquam
        purus sit amet luctus venenatis lectus magna fringilla. Eget arcu dictum varius duis. Mattis molestie
        a iaculis at erat pellentesque adipiscing commodo. Fames ac turpis egestas integer eget.
        Elementum sagittis vitae et leo duis
    </p>
</div>
{% endblock %}