<nav class="navbar navbar-expand-lg bg-primary footer" data-bs-theme="dark">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Contact
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('notice') }}">Mentions Légales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('policy') }}">Politique de confidentialité</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item text-white">
        Developped by Atsuyko
      </li>
    </ul>
  </div>
</nav>