{% extends 'base.html.twig' %}

{% block title %}SC Diet & Nutri - Notice{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at
            <code><a href="{{ 'C:/Users/julie/Desktop/scdietandnutri/src/Controller/NoticeController.php'|file_link(0) }}">src/Controller/NoticeController.php</a></code>
        </li>
        <li>Your template at
            <code><a href="{{ 'C:/Users/julie/Desktop/scdietandnutri/templates/notice/index.html.twig'|file_link(0) }}">templates/notice/index.html.twig</a></code>
        </li>
    </ul>
</div>
{% endblock %}