{% extends "base.html.twig" %}

{% block title %}SC Diet & Nutri - Contact{% endblock %}

{% block body %}
<div class="container">
  <h1 class="display-3 mt-3">Envoyer une demande</h1>
  {{ form_start(form) }}
  {{form(form)}}
</div>
{% endblock body %}