{% extends "base.html.twig" %}

{% block title %}SC Diet & Nutri - Ajouter un patient{% endblock %}

{% block body %}
<div class="container">
  <h1 class="display-3 mt-3">Ajouter un novueau patient</h1>
  {{ form_start(form) }}
  {{form(form)}}
</div>
{% endblock body %}