{% extends "base.html.twig" %}

{% block title %}SC Diet & Nutri - Modifier mon password{% endblock %}

{% block body %}
<div class="container">
  <h1 class="display-3 mt-3">Modifier mon password</h1>
  {% for message in app.flashes('secondary') %}
  <div class="alert alert-dismissible alert-secondary mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ message }}
  </div>
  {% endfor %}
  {{ form_start(form) }}
  {{form(form)}}
</div>
{% endblock body %}